<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxw.cloud.dao.SeckillOrderMapper">

    <!-- 閫氱敤鏌ヨ鏄犲皠缁撴灉 -->
    <resultMap id="BaseResultMap" type="com.wxw.cloud.domain.SeckillOrder">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="skuId" property="skuId" />
        <result column="orderId" property="orderId" />
    </resultMap>

    <!-- 閫氱敤鏌ヨ缁撴灉鍒?-->
    <sql id="Base_Column_List">
        id, userId, skuId, orderId
    </sql>

</mapper>

